@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


body{
    font-family: "Inter", sans-serif;
    background-color: white;
}

.inter-header {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700; 
    font-style: normal;
  }
  
  .inter-body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }



  
.purple-button{
    padding: 0.9rem 1.75rem;
    background-color: #7C5FF0;
    color: #FFFFFF;
    outline: none;
    border: none;
    border-radius: 5rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; 
    font-style: normal;
}

.clear-button{
    padding: 0.9rem 1.75rem;
    background-color: white;
    color: #7C5FF0;
    outline: none;
    border: .8px solid #808080;
    border-radius: 5rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; 
    font-style: normal;
}

.primary-heading{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500; 
    font-style: normal;
    font-size: 55px;
    line-height: 1.2;

    color: #1C1C1C;
}

.primary-text{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500; 
    font-style: normal;
    font-size: 24px;
    margin: 10px 1px 15px 1px;

    color: #808080;
}

.home-container{
    background-color: white;
}

.home-banner-container {
    height: auto;
    width: 400px;
  
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
    background-color: white;
  }

.home-text-container {
    flex: 1;  
    padding-right: 20px;  
}




